header{
    display: flex;
    justify-content: center;
}

.clock-container{
    gap: 5px;
}

.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-container{
    background-color: #FFFFFA;
    border: 2px solid #000;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: auto;
    
}

.clock-container{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-container h1{
    font-size: 45px;
    padding: 0 0;

}

.btn-container{
    padding: 12px;
    display: flex;
    width: auto;
    height: 82px;
    align-items: center;
    justify-content: center;  
    gap: 10px;
    
}

 .btn-container .add-mins{
    all: unset;
    font-size: 30px;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 13px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.add-mins:hover{
    padding: 15px 17px ;
    border-radius: 44px;
    font-size: 32px;
}

.btn-container .func-btn{
    all: unset;
    cursor: pointer;
    display: flex;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 13px 15px;
    transition: 0.3s;
}

.func-btn:hover{
    padding: 15px 17px ;
    border-radius: 44px;
    font-size: 32px;
}


 img{
    height: 40px;
    width: 40px;
}


.st-btn-container{
    padding: 12px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 10px;
}

.st-btn-container button{
     all: unset;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 20px 20px;
}

.timer-menu-btn{
    display: none;
}

.stop-menu-btn {
    display: none;
}
