.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: black;
}

.clock-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.clock-container input{
    all: unset;
}

.btn-container{
    background-color: aquamarine;  
}